{% extends "layouts/base.html" %}

{% block title %}Events Categories{% endblock %}
{% block content %}
<h1> Hello everyone to Events Categories !</h1>
<h3>Categories list : </h3>
<table border="1">
    <tr>
        <th>Category name </th>
        <th>Pakage Type </th>
        <th>Pakage detail </th>
        <th>Price</th>
    </tr>
    {% for e in eventscategorie %}
        <tr>
            <td>{{e.categoryname}}</td>
            <td>{{e.pakagetype}}</td>
            <td>{{e.pakagedetails}}</td>
            <td>{{e.price}}</td>
        </tr>
    {%endfor%}
</table>
{% endblock content %}