{% extends "layouts/base.html" %}
{% block stylesheets %}
   <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
       }
     </style>
{% endblock stylesheets %}

{% block title %}Category info{% endblock %}
{% block content %}

<table>
    <caption><h3> Events Category Details : </h3></caption>
    <tr>
    <th>Category Name</th>
    <th>pakage Type</th>
    <th>Pakage Details</th>
    <th>Total Price</th>
    </tr>
    <tr>
    <td>{{eventscategory.categoryname}}</td>
    <td>{{eventscategory.pakagetype}}</td>
    <td>{{eventscategory.pakagedetails}}</td>
    <td>${{eventscategory.price}}</td>
    </tr>
    </table>
{% endblock content %}



