{% extends "layouts/base.html" %}

{% block title %}Events Categories{% endblock %}
{% block content %}
<h1> Hello everyone to Events Categories !</h1>
<h3>Categories list : </h3>
<ol>
<li><a href= "/event/12345">Wedding Events</a></li>
<ul>
    <li><h5>Description : </h5></li>
    <p>.................</p>
</ul>
<p></p>
<li><a href= "/event/67899">Birthday Events</a></li>
<ul>
   <li><h5>Description : </h5></li>
   <p>...............</p>
</ul>
<li><a href= "/event/67899">Graduation events</a></li>
<ul>
    <li><h5>Description : </h5></li>
    <p>.................</p>
</ul>
</ol>
{% endblock content %}
