{% extends "layouts/base.html" %}

{% block title %}Searching{% endblock %}
{% block content %}

<form method="post">
{% csrf_token %}
 <label>Keywords:</label>
 <input type="text" name="keyword" placeholder="enter a keyword"/>
 <br/> 

 <label>Search in:</label>
 <input type="checkbox" name="option1"/><label>Category name</label>
 <input type="checkbox" name="option2"/><label>Price</label>
 <br/>
 <select name="selectedgenre">
    <option selected>None</option>
   <option value="fiction">Fiction</option>
   <option value="n-fiction">Non-fiction</option>
   <option value="novel">Novel</option>
    </select>
<br/> 
<textarea name="description" rows="10" cols="30"></textarea>
<br/>
 <button type="submit" >Search</button>
 <ion-icon name="search-outline"></ion-icon> 
 
</form>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock content %}



 